requirements-parser==0.9.0
types-setuptools==80.9.0.20250822
setuptools==75.2.0
pip==24.1.2
unsloth==2025.9.1
tyro==0.9.31
trl==0.22.2
bitsandbytes==0.47.0
unsloth_zoo==2025.9.2
datasets==3.6.0
shtab==1.7.2
xformers==0.0.32.post2
msgspec==0.19.0
cut-cross-entropy==25.1.1
google-colab==1.0.0
distro==1.9.0
wurlitzer==3.1.1
lark==1.2.2
PyOpenGL==3.1.10
google-cloud-resource-manager==1.14.2
ipython-genutils==0.2.0
jupyter_client==7.4.9
sortedcontainers==2.4.0
geopy==2.4.1
stumpy==1.13.0
markdown-it-py==4.0.0
sphinxcontrib-qthelp==2.0.0
missingno==0.5.2
googleapis-common-protos==1.70.0
google-generativeai==0.8.5
typing-inspection==0.4.1
pydantic-settings==2.10.1
Sphinx==8.2.3
notebook==6.5.7
docutils==0.21.2
nvidia-nvtx-cu12==12.6.77
dopamine_rl==4.1.2
ipyfilechooser==0.6.0
moviepy==1.0.3
google-cloud-bigquery-connection==1.18.3
mlxtend==0.23.4
pyproj==3.7.2
pandas==2.2.2
gspread-dataframe==4.0.0
ffmpy==0.6.1
pyerfa==2.0.1.5
tzlocal==5.3.1
array_record==0.8.1
httpcore==1.0.9
jsonpatch==1.33
multipledispatch==1.0.0
soupsieve==2.8
threadpoolctl==3.6.0
raft-dask-cu12==25.6.0
slicer==0.0.8
wcwidth==0.2.13
nltk==3.9.1
torchvision==0.23.0+cu126
blosc2==3.7.2
uri-template==1.3.0
gdown==5.2.0
gspread==6.2.1
spanner-graph-notebook==1.1.8
pycairo==1.28.0
sphinxcontrib-jsmath==1.0.1
lxml==5.4.0
aiofiles==24.1.0
libucxx-cu12==0.44.0
geopandas==1.1.1
mizani==0.13.5
absl-py==1.4.0
rapids-logger==0.1.1
fonttools==4.59.2
bigquery-magics==0.10.3
scikit-learn==1.6.1
nvidia-cudnn-cu12==9.10.2.21
jsonschema==4.25.1
confection==0.1.5
pooch==1.8.2
ipywidgets==7.7.1
watchdog==6.0.0
pylibraft-cu12==25.6.0
keras-hub==0.21.1
param==2.2.1
pexpect==4.9.0
networkx==3.5
pyogrio==0.11.1
triton==3.4.0
itsdangerous==2.2.0
types-python-dateutil==2.9.0.20250822
python-dotenv==1.1.1
uvicorn==0.35.0
locket==1.0.0
xlrd==2.0.2
shap==0.48.0
numexpr==2.11.0
aiohappyeyeballs==2.6.1
psygnal==0.14.1
libcugraph-cu12==25.6.0
umf==0.11.0
PyJWT==2.10.1
nest-asyncio==1.6.0
argon2-cffi-bindings==25.1.0
idna==3.10
imutils==0.5.4
snowballstemmer==3.0.1
gcsfs==2025.3.0
sentencepiece==0.2.1
libkvikio-cu12==25.6.0
backcall==0.2.0
etils==1.13.0
requests-oauthlib==2.0.0
widgetsnbextension==3.6.10
py-cpuinfo==9.0.0
traittypes==0.2.1
jsonpickle==4.1.1
google-cloud-secret-manager==2.24.0
sphinxcontrib-applehelp==2.0.0
google-api-core==2.25.1
flatbuffers==25.2.10
h2==4.3.0
sqlalchemy-spanner==1.16.0
cryptography==43.0.3
tabulate==0.9.0
earthengine-api==1.5.24
defusedxml==0.7.1
mdurl==0.1.2
db-dtypes==1.4.3
uritemplate==4.2.0
prettytable==3.16.0
jaxlib==0.5.3
multitasking==0.0.12
langcodes==3.5.0
google==2.0.3
marisa-trie==1.3.1
autograd==1.8.0
tensorboard-data-server==0.7.2
ipykernel==6.17.1
colorcet==3.1.0
jax-cuda12-plugin==0.5.3
jsonpointer==3.0.0
entrypoints==0.4
pydantic_core==2.33.2
cramjam==2.11.0
jiter==0.10.0
portpicker==1.5.2
miniKanren==1.0.5
jupyter_core==5.8.1
tensorflow==2.19.0
humanize==4.13.0
grpcio-status==1.71.2
rpds-py==0.27.1
accelerate==1.10.1
torch==2.8.0+cu126
flax==0.10.6
osqp==1.0.4
jax==0.5.3
antlr4-python3-runtime==4.9.3
tzdata==2025.2
packaging==25.0
pydantic==2.11.7
pickleshare==0.7.5
ml_dtypes==0.5.3
dask-cudf-cu12==25.6.0
toml==0.10.2
html5lib==1.1
google-cloud-bigquery-storage==2.32.0
contourpy==1.3.3
geemap==0.35.3
sentence-transformers==5.1.0
pyviz_comms==3.0.6
chardet==5.2.0
nvidia-nvjitlink-cu12==12.6.85
dask==2025.5.0
typeguard==4.4.4
ply==3.11
logical-unification==0.4.6
torchdata==0.11.0
torchtune==0.6.1
numba==0.60.0
xyzservices==2025.4.0
chex==0.1.90
ipython-sql==0.5.0
zstandard==0.24.0
curl_cffi==0.13.0
bqplot==0.12.45
prompt_toolkit==3.0.52
Jinja2==3.1.6
python-slugify==8.0.4
multiprocess==0.70.16
ndindex==1.10.0
pyasn1==0.6.1
fasttransform==0.0.2
babel==2.17.0
optree==0.17.0
distributed-ucxx-cu12==0.44.0
jaraco.classes==3.4.0
nvidia-cuda-cupti-cu12==12.6.80
wasabi==1.1.3
urllib3==2.5.0
Farama-Notifications==0.0.4
openpyxl==3.1.5
langchain-text-splitters==0.3.11
langsmith==0.4.23
annotated-types==0.7.0
panel==1.7.5
importlib_metadata==8.7.0
plum-dispatch==2.5.7
gym-notices==0.1.0
fqdn==1.5.1
cmdstanpy==1.2.5
python-dateutil==2.9.0.post0
namex==0.1.0
toolz==0.12.1
yellowbrick==1.5
sklearn-pandas==2.2.0
python-json-logger==3.3.0
pandas-gbq==0.29.2
isoduration==20.11.0
srsly==2.5.1
cvxopt==1.3.2
more-itertools==10.8.0
click==8.2.1
textblob==0.19.0
soundfile==0.13.1
ipyevents==2.0.2
simplejson==3.20.1
nvidia-cusparselt-cu12==0.7.1
partd==1.4.2
imageio==2.37.0
opentelemetry-api==1.36.0
ratelim==0.1.6
cons==0.4.7
thinc==8.3.6
ipyleaflet==0.20.0
peft==0.17.1
albucore==0.0.24
google-crc32c==1.7.1
orjson==3.11.3
nvidia-cublas-cu12==12.6.4.1
geographiclib==2.1
nvidia-curand-cu12==10.3.7.77
importlib_resources==6.5.2
alabaster==1.0.0
grpcio==1.74.0
h5py==3.14.0
treelite==4.4.1
dataproc-spark-connect==0.8.3
plotly==5.24.1
httpimport==1.4.1
google-cloud-aiplatform==1.111.0
narwhals==2.3.0
nibabel==5.3.2
torchsummary==1.5.1
duckdb==1.3.2
google-resumable-media==2.7.2
en_core_web_sm==3.8.0
pynndescent==0.5.13
prophet==1.1.7
gradio==5.44.1
hdbscan==0.8.40
starlette==0.47.3
catalogue==2.0.10
lightgbm==4.6.0
build==1.3.0
google-auth-httplib2==0.2.0
nvidia-cufft-cu12==11.3.0.4
libcuvs-cu12==25.6.1
rfc3986-validator==0.1.1
google-cloud-storage==2.19.0
blobfile==3.0.0
pyspark==3.5.1
overrides==7.7.0
tsfresh==0.21.1
psutil==5.9.5
prometheus_client==0.22.1
PyDrive2==1.21.3
cachetools==5.5.2
nbconvert==7.16.6
jupyter-leaflet==0.20.0
tensorflow-text==2.19.0
pygame==2.6.1
statsmodels==0.14.5
mdit-py-plugins==0.5.0
timm==1.0.19
jupyter-console==6.6.3
pandocfilters==1.5.1
google-auth-oauthlib==1.2.2
typing_extensions==4.15.0
proto-plus==1.26.1
Send2Trash==1.8.3
websocket-client==1.8.0
SecretStorage==3.3.3
argon2-cffi==25.1.0
astropy-iers-data==0.2025.9.1.0.42.11
google-cloud-dataproc==5.21.0
google-cloud-logging==3.12.1
mcp==1.13.1
libraft-cu12==25.6.0
hyperopt==0.2.7
gym==0.25.2
xxhash==3.5.0
shellingham==1.5.4
tomlkit==0.13.3
pyshp==2.3.1
gitdb==4.0.12
llvmlite==0.43.0
nvidia-nccl-cu12==2.27.3
Mako==1.3.10
colorlover==0.3.0
python-utils==3.9.1
treescope==0.1.10
sqlparse==0.5.3
absolufy-imports==0.3.1
arviz==0.22.0
bleach==6.2.0
hyperframe==6.1.0
omegaconf==2.3.0
opencv-python-headless==4.12.0.88
matplotlib-inline==0.1.7
Bottleneck==1.4.2
roman-numerals-py==3.1.0
pydub==0.25.1
google-pasta==0.2.0
cuml-cu12==25.6.0
httpx-sse==0.4.1
pillow==11.3.0
alembic==1.16.5
parso==0.8.5
dlib==19.24.6
easydict==1.13
uc-micro-py==1.0.3
platformdirs==4.4.0
certifi==2025.8.3
ruff==0.12.11
yarl==1.20.1
intel-cmplr-lib-ur==2025.2.1
libcudf-cu12==25.6.0
safetensors==0.6.2
hf_transfer==0.1.9
PyGObject==3.42.0
firebase-admin==6.9.0
linkify-it-py==2.0.3
python-louvain==0.16
google-cloud-language==2.17.2
kiwisolver==1.4.9
atpublic==5.1
diffusers==0.35.1
ale-py==0.11.2
preshed==3.0.10
shapely==2.1.1
murmurhash==1.0.13
groovy==0.1.2
cuvs-cu12==25.6.1
gradio_client==1.12.1
wandb==0.21.3
rpy2==3.5.17
ipython==7.34.0
patsy==1.0.1
rapids-dask-dependency==25.6.0
docstring_parser==0.17.0
xgboost==3.0.4
pycparser==2.22
gin-config==0.5.0
cmake==3.31.6
wheel==0.45.1
mkl==2025.2.0
cupy-cuda12x==13.3.0
cloudpickle==3.1.1
tensorflow-hub==0.16.1
six==1.17.0
tokenizers==0.22.0
aiosignal==1.4.0
fastdownload==0.0.7
google-cloud-datastore==2.21.0
tensorflow-metadata==1.17.2
tables==3.10.2
pyparsing==3.2.3
google-cloud-bigtable==2.32.0
google-cloud-speech==2.33.0
tenacity==8.5.0
pyproject_hooks==1.2.0
scooby==0.10.1
rich==13.9.4
GDAL==3.8.4
smart_open==7.3.0.post1
pytensor==2.31.7
cvxpy==1.6.7
debugpy==1.8.15
typer==0.17.3
albumentations==2.0.8
et_xmlfile==2.0.0
google-cloud-functions==1.20.4
nbclassic==1.3.1
sniffio==1.3.1
pylibcugraph-cu12==25.6.0
joblib==1.5.2
nvidia-cuda-nvcc-cu12==12.5.82
termcolor==3.1.0
gymnasium==1.2.0
astropy==7.1.0
ydf==0.13.0
google-cloud-spanner==3.57.0
audioread==3.0.1
keyring==25.6.0
attrs==25.3.0
langchain-core==0.3.75
mistune==3.1.4
httpx==0.28.1
language_data==1.3.0
google-ai-generativelanguage==0.6.15
rmm-cu12==25.6.0
frozendict==2.4.6
parsy==2.1
colour==0.1.5
jieba==0.42.1
plotnine==0.14.5
Werkzeug==3.1.3
jupyter_kernel_gateway==2.5.2
iniconfig==2.1.0
fsspec==2025.3.0
jax-cuda12-pjrt==0.5.3
spacy-legacy==3.0.12
tinycss2==1.4.0
google-cloud-firestore==2.21.0
bokeh==3.7.3
jupyter_server==2.14.0
websockets==15.0.1
Markdown==3.8.2
numba-cuda==0.11.0
SQLAlchemy==2.0.43
eerepr==0.1.2
jsonschema-specifications==2025.4.1
pydot==3.0.4
multidict==6.6.4
semantic-version==2.10.0
inflect==7.5.0
opencv-contrib-python==4.12.0.88
matplotlib==3.10.0
proglog==0.1.12
libclang==18.1.1
scs==3.2.8
opentelemetry-exporter-gcp-trace==1.9.0
sphinxcontrib-htmlhelp==2.1.0
ucx-py-cu12==0.44.0
tensorboard==2.19.0
hpack==4.1.0
jupyterlab_pygments==0.3.0
ipytree==0.2.2
anyio==4.10.0
terminado==0.18.1
nvidia-cusparse-cu12==12.5.4.2
nbformat==5.10.4
betterproto==2.0.0b6
tifffile==2025.8.28
text-unidecode==1.3
pyasn1_modules==0.4.2
python-snappy==0.7.3
webcolors==24.11.1
community==1.0.0b1
referencing==0.36.2
fastprogress==1.0.3
kaggle==1.7.4.5
pluggy==1.6.0
stanio==0.5.1
opt_einsum==3.4.0
future==1.0.0
cloudpathlib==0.22.0
imageio-ffmpeg==0.6.0
smmap==5.0.2
jupytext==1.17.3
arrow==1.3.0
gast==0.6.0
httplib2==0.30.0
blis==1.3.0
protobuf==5.29.5
dm-tree==0.1.9
grpc-google-iam-v1==0.14.2
jupyter-events==0.12.0
simsimd==6.5.1
progressbar2==4.5.0
safehttpx==0.1.6
nvidia-cusolver-cu12==11.7.1.2
pynvjitlink-cu12==0.7.0
fastcore==1.8.8
pylibcudf-cu12==25.6.0
grpclib==0.4.8
pydata-google-auth==1.9.1
spacy==3.8.7
hf-xet==1.1.9
sentry-sdk==2.35.2
branca==0.8.1
types-pytz==2025.2.0.20250809
dill==0.3.8
google-cloud-bigquery==3.36.0
cufflinks==0.17.3
notebook_shim==0.2.4
Flask==3.1.2
libucx-cu12==1.18.1
cymem==2.0.11
PyYAML==6.0.2
nbclient==0.10.2
h11==0.16.0
clarabel==0.11.1
charset-normalizer==3.4.3
opentelemetry-semantic-conventions==0.57b0
tweepy==4.16.0
beautifulsoup4==4.13.5
langchain==0.3.27
tornado==6.4.2
rfc3987-syntax==1.1.0
rsa==4.9.1
tblib==3.1.0
tiktoken==0.11.0
intel-openmp==2025.2.1
pyOpenSSL==24.2.1
google-api-python-client==2.181.0
requests-toolbelt==1.0.0
pyarrow==18.1.0
tensorflow-datasets==4.9.9
GitPython==3.1.45
oauthlib==3.3.1
jaraco.context==6.0.1
natsort==8.4.0
opencv-python==4.12.0.88
nx-cugraph-cu12==25.6.0
nvtx==0.2.13
grpc-interceptor==0.15.4
weasel==0.4.1
ipyparallel==8.8.0
frozenlist==1.7.0
scikit-image==0.25.2
tensorflow-probability==0.25.0
transformers==4.56.0
requests==2.32.4
Authlib==1.6.3
imagesize==1.4.1
einops==0.8.1
keras==3.10.0
xarray-einstats==0.9.1
pydotplus==2.0.2
bigframes==2.17.0
nvidia-cuda-runtime-cu12==12.6.77
fastrlock==0.8.3
scipy==1.16.1
rfc3339-validator==0.1.4
opentelemetry-sdk==1.36.0
pygit2==1.18.2
Pygments==2.19.2
jupyter_server_terminals==0.5.3
jupyterlab_widgets==3.0.15
webencodings==0.5.1
peewee==3.18.2
ibis-framework==9.5.0
tbb==2022.2.0
pytest==8.4.1
promise==2.3
pycryptodomex==3.23.0
traitlets==5.7.1
tensorstore==0.1.76
sympy==1.13.3
cyipopt==1.5.0
dask-cuda==25.6.0
keras-nlp==0.21.1
pynvml==12.0.0
h5netcdf==1.6.4
aiohttp==3.12.15
folium==0.20.0
glob2==0.7
MarkupSafe==3.0.2
jeepney==0.9.0
spacy-loggers==1.0.5
simple-parsing==0.1.7
libpysal==4.13.0
vega-datasets==0.9.0
cuda-python==12.6.2.post1
librosa==0.11.0
wordcloud==1.9.4
lazy_loader==0.4
fastjsonschema==2.21.2
google-adk==1.13.0
google-cloud-core==2.4.3
PyWavelets==1.9.0
msgpack==1.1.1
google-cloud-trace==1.16.2
pyzmq==26.2.1
highspy==1.11.0
imbalanced-learn==0.14.0
ucxx-cu12==0.44.0
etuples==0.3.10
distributed==2025.5.0
keyrings.google-artifactregistry-auth==1.1.2
graphviz==0.21
Cython==3.0.12
zict==3.0.0
astunparse==1.6.3
google-auth==2.38.0
altair==5.5.0
sqlglot==25.20.2
pytz==2025.2
anywidget==0.9.18
google-cloud-appengine-logging==1.6.2
google-cloud-audit-log==0.3.2
nvidia-cufile-cu12==1.11.1.6
google-cloud-translate==3.21.1
nvidia-ml-py==12.575.51
geocoder==1.38.1
orbax-checkpoint==0.11.24
torchao==0.10.0
sphinxcontrib-serializinghtml==2.0.0
music21==9.3.0
soxr==0.5.0.post1
tensorflow_decision_forests==1.12.0
google-genai==1.32.0
nvidia-cuda-nvrtc-cu12==12.6.77
filelock==3.19.1
cudf-polars-cu12==25.6.0
seaborn==0.13.2
wrapt==1.17.3
matplotlib-venn==1.1.2
regex==2024.11.6
librmm-cu12==25.6.0
umap-learn==0.5.9.post2
jaraco.functools==4.3.0
tqdm==4.67.1
greenlet==3.2.4
tcmlib==1.4.0
kagglehub==0.3.13
propcache==0.3.2
python-multipart==0.0.20
cffi==1.17.1
decorator==4.4.2
torchaudio==2.8.0+cu126
psycopg2==2.9.10
pandas-stubs==2.2.2.240909
holidays==0.80
pandas-datareader==0.10.0
stringzilla==3.12.6
pycocotools==2.0.10
tf-slim==1.1.0
sphinxcontrib-devhelp==2.0.0
beartype==0.21.0
PySocks==1.7.1
huggingface-hub==0.34.4
blinker==1.9.0
oauth2client==4.1.3
fastai==2.8.4
python-box==7.3.2
xarray==2025.8.0
mpmath==1.3.0
libcuml-cu12==25.6.0
optax==0.2.5
cudf-cu12==25.6.0
holoviews==1.21.0
zipp==3.23.0
cycler==0.12.1
fastapi==0.116.1
yfinance==0.2.65
googledrivedownloader==1.1.0
editdistance==0.8.1
opentelemetry-resourcedetector-gcp==1.9.0a0
openai==1.104.2
Brotli==1.1.0
polars==1.25.2
CacheControl==0.14.3
pyperclip==1.9.0
tf_keras==2.19.0
numpy==2.0.2
pymc==5.25.1
pyomo==6.9.4
ptyprocess==0.7.0
immutabledict==4.2.1
py4j==0.10.9.7
sse-starlette==3.0.2
python-apt==0.0.0
python-apt==2.4.0+ubuntu4
lazr.uri==1.0.6
six==1.16.0
cryptography==3.4.8
more-itertools==8.10.0
PyJWT==2.3.0
httplib2==0.20.2
SecretStorage==3.3.1
oauthlib==3.2.0
keyring==23.5.0
dbus-python==1.2.18
launchpadlib==1.10.16
wadllib==1.3.6
lazr.restfulclient==0.14.4
pyparsing==2.4.7
jeepney==0.7.1
distro==1.7.0
zipp==1.0.0
blinker==1.4
importlib-metadata==4.6.4
PyGObject==3.42.1
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.0.1
wheel==0.43.0
more-itertools==10.3.0
inflect==7.3.1
zipp==3.19.2
typing_extensions==4.12.2
jaraco.text==3.12.1
typeguard==4.3.0
jaraco.functools==4.0.1
tomli==2.0.1
backports.tarfile==1.2.0
jaraco.context==5.3.0
importlib_metadata==8.0.0
packaging==24.1
autocommand==2.2.2
jaraco.collections==5.1.0
platformdirs==4.2.2
importlib_resources==6.4.0
